#firstH1{
  text-align: left;
  margin: 20px;
  margin-top: 40px;
}

#secondH2{
  font-size: 44px;

}

#firstParagraph{
  font-size: 20px;
}

#firstButton{
  text-align: right;
  position: absolute;
  right: 40px;
  top: 40px;
}

#firstImage{

}

div{
  text-align: center;
  margin-top: 180px;
}

#secondButton{
  margin-top: 20px;
  margin-bottom: 40px;
}

#firstImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: au */
}

#secondImage{
 position: absolute;
  left: 250px;
}

#thirdImage{
  position: absolute;
  left: 850px;
}

#firstNumber{
  font-size: 80px;
  margin-left: 180px;
}
#secondNumber{
  position: absolute;
  top: 188%;
  right: 20%;
  font-size: 80px;
  margin-left: 180px;
}

#numbDesc{
  position: absolute;
  top: 210%;
  left: 14%;
  margin-top: 45px;
  font-size: 20px;

}

#mesgDesc{
  position: absolute;
  top: 210%;
  right: 25%;
  margin-top: 45px;
  font-size: 20px;
}
/* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; */
